[*.cs]

# CA1303: 请不要将文本作为本地化参数传递
dotnet_diagnostic.CA1303.severity = none

# CA1031: 不捕获常规异常类型
dotnet_diagnostic.CA1031.severity = none

# CS1591: 缺少对公共可见类型或成员的 XML 注释
dotnet_diagnostic.CS1591.severity = none

# IDE0061: 对本地函数使用块主体
csharp_style_expression_bodied_local_functions = false:silent

# CA1305: 指定 IFormatProvider
dotnet_diagnostic.CA1305.severity = none

# CA2007: 考虑对等待的任务调用 ConfigureAwait
dotnet_diagnostic.CA2007.severity = none
